.background-gradient {
  position: fixed;
  background-image: linear-gradient(to top, rgb(56, 56, 56), white);
  height: 100vh;
  width: 100vw;
}

.title {
  margin-top: 25px;
  margin-bottom: 50px;
}

.form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tile {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.recover-link {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-account-link {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.error-message {
  color: red;
  margin-top: 20px;
}
