.article-container {
	margin-top: 10px;
	box-shadow: 1px 1px 7px black;
	border-radius: 15px;
	background-color: #f4f4f4;
	padding: 20px;
}

.article-container:hover {
	cursor: pointer;
	transform: scale(1.01);
	-webkit-transition: font-size 100ms linear;
	-ms-transition: font-size 100ms linear;
	transition: transform 100ms linear;
}

.article-container:not(:hover) {
	transform: scale(1);
	transition: transform 100ms linear;
	-webkit-transition: transform 100ms linear;
	-ms-transition: transform 100ms linear;
}

.article-title {
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 15px;
	display: block;
}

.article-subtitle {
	font-weight: 600;
	font-size: 1rem;
}

.article-subtopic {
	margin-bottom: 10px;
}

.article-subtitle-text {
	font-size: 1rem;
}
